* {
  font-family: "Times", "Times New Roman", serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page {
  width: 100vw;
  height: 100vh;
  background-color: rgb(189, 171, 147);
  border: 20px double black;
}

.login {
  font-size: 70px;
  text-align: center;
  margin-top: 2em;
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: rgb(189, 171, 147);
  align-items: center;
}

.login-form-input {
  height: 1em;
  font-size: 22px;
  margin-bottom: 0.5em;
}

.dashboard {
  background-image: url(https://img.atlasobscura.com/8WQhQ0SjlrVkKHDTqElxCviWT4wt9VeuDr8LWrgex8A/rs:fill:12000:12000/q:81/sm:1/scp:1/ar:1/aHR0cHM6Ly9hdGxh/cy1kZXYuczMuYW1h/em9uYXdzLmNvbS91/cGxvYWRzL2Fzc2V0/cy8zMjlmMmE0Yzgw/NDZkZjFlZDlfRDNL/NTFKLmpwZw.jpg);
}

.my-trips {
  font-size: 5em;
  text-align: center;
  margin-bottom: 0em;
}

.userName {
  font-size: 2em;
  font-style: italic;
  text-align: center;
  margin-top: 0em;
  margin-bottom: 1em;
}

.main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left-section {
  display: flex;
  flex-direction: column;
  margin-left: 0em;
  margin-right: 4em;
}

aside {
  margin-right: 4em;
}

form, 
.third-article {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.first-article,
.second-article,
.third-article,
aside {
  padding: 1em 2em 1em 2em;
  margin-bottom: 2em;
}

.first-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-left: 3em;
}

.second-article {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-left: 3em;
}

.third-article {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-top: 2em;
}

form {
  padding: 0.5em 1em 2em 2em;
}

.pending-and-approved {
  display: flex;
  flex-direction: row;
}

.pending {
  margin-right: 10em;
  font-size: 22px;
}

.approved {
  font-size: 22px;
}

.past-trips, 
.total-amount-spent, 
.total-amount-this-year {
  text-align: center;
}

.past-trip-box, 
.pending-trip-box, 
.third-article div {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 1em 1.5em 1em 1.5em;
  margin-bottom: 1em;
}

.past-destination {
  color: rgb(45, 116, 222);
}

.pending-destination {
  color: rgb(239, 117, 4);
}

.trip-request {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1.5em;
}

label, 
form p, 
.estimated-cost,
.estimate {
  font-size: 20px;
}

.estimated-cost {
  margin-top: 3em;
  margin-bottom: 0em;
}

.estimate {
  color: rgb(3, 122, 3);
}

input {
  margin-bottom: 2em;
}

.submit-button {
  margin-left: 20em;
  margin-top: 3em;
  padding: 0.4em 1em 0.4em 1em;
  font-size: 20px;
  border-radius: 10px;
}

.submit-button:hover {
  background-color: rgb(95, 214, 125);
  cursor: pointer;
}

.grand-total, 
.this-year-total {
  font-size: 30px;
  font-weight: bold;
  color: rgb(3, 122, 3);
  text-align: center;
}

.hidden {
  display: none;
}