* {
  font-family: "Times", "Times New Roman", serif;
}

body {
  background-image: url(https://img.atlasobscura.com/8WQhQ0SjlrVkKHDTqElxCviWT4wt9VeuDr8LWrgex8A/rs:fill:12000:12000/q:81/sm:1/scp:1/ar:1/aHR0cHM6Ly9hdGxh/cy1kZXYuczMuYW1h/em9uYXdzLmNvbS91/cGxvYWRzL2Fzc2V0/cy8zMjlmMmE0Yzgw/NDZkZjFlZDlfRDNL/NTFKLmpwZw.jpg);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.left-section {
  display: flex;
  flex-direction: column;
  margin-left: 0em;
  margin-right: 7em;
}

aside {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  height: 33em;
}

.first-article,
.second-article,
.third-article,
aside {
  padding: 1em 2em 1em 2em;
  margin-bottom: 3em;
}

.first-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.second-article {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.third-article {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.pending-and-approved {
  display: flex;
  flex-direction: row;
}

.my-trips {
  font-size: 5em;
}

.pending {
  margin-right: 10em;
  font-size: 22px;
}

.approved {
  font-size: 22px;
}

.past-trips, 
.total-amount-spent, 
.total-amount-this-year {
  text-align: center;
}

.past-trip-box, 
.pending-trip-box, 
.third-article div {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 0.5em 0em 1em 1.5em;
  margin-bottom: 2em;
}

.past-destination {
  color: rgb(45, 116, 222);
}

.pending-destination {
  color: rgb(239, 117, 4);
}

.grand-total {
  font-size: 30px;
  font-weight: bold;
  color: rgb(4, 175, 4);
  text-align: center;
}

.trip-request {
  font-size: 2em;
  margin-bottom: 1.5em;
}

.submit-button {
  margin-left: 14em;
  margin-top: 3em;
  padding: 0.4em 1em 0.4em 1em;
  font-size: 20px;
  border-radius: 10px;
}

.submit-button:hover {
  background-color: rgb(95, 214, 125);
  cursor: pointer;
}

aside p {
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 1em;
}
